li.pokemon{
    display: flex;
    list-style: none;
    margin: 0.7rem;
    
  }
  ol.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0 0;
    padding: 0;
    background-color: #fff;
    
  }
 
  .pokemon {
    display: flex;
    margin: .5rem;
    padding: 1rem;
    background-color: #49d0b0;
    color: white;
    border-radius: 1rem;
    flex-direction: column;
  }
  .pokemon .number {
    color: #000;
    text-align: right;
    opacity: 0.2;
    font-size: large;
    background-color: #49d0b0;
  }
  
  .pokemon .name {
    color: #fff;
    margin: 0.25rem 0;
    background-color: #49d0b0;
  }
  
  .pokemon .detail {
    display: flex;
    flex-direction: row;
  }
  
  .pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #49d0b0;
  }
  
  .pokemon .detail .types .type {
    background-color: #61e1ca;
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.65rem;
    font-size: 0.7rem;
    height: 1.5rem;
    border-radius: 3rem;
  }
  
  .pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #49d0b0;
  }
  
  .pokemon .detail img {
    background-color: #49d0b0;
    max-width: 100%;
    height: 70px;
  }
  @media screen and (min-width: 375px) {
    ol.pokemons {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width: 552px) {
    ol.pokemons {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }